
.container{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
}

.title_container{
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 auto;
	align-items: center;
}


.big_title{
	font-size: 6em;
	width: 600px;
	color: #ffffff;
	position: relative;
	top: 20px;
	left: 60px;
	animation: slide 2s;
}

.sub_title{
	font-size: 5em;
	width: 600px;
	color: #ffffff;
	position: absolute;
	top: 120px;
	left: 120px;
	animation: slide_second 4s;
}

@keyframes slide{
	from {
		left: -100px;	
		opacity : 0;
	}
	to{
		left: 60px;
		opacity: 1;
	}
}

@keyframes slide_second{
	from {
		left: -800px;
		opacity: 0;
	}
	to{
		left: 120px;
		opacity: 1;
	}
}

.content_container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 150px;
  position: relative;
  width: 100%; 
	animation: fadeInContent 2s forwards;
	animation-delay: 4s;
	opacity: 0;
}

@keyframes fadeInContent {
	from {
			opacity: 0;
	}
	to {
			opacity: 1;
	}
}

.content_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  max-width: 960px;
  opacity: 1;
  position: relative;
}

.content_title{
	font-size: 50px;
}

.content_box{
	display: flex;
	flex-direction: column;
	position: relative;
}

.content{
	font-size: 30px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .introImage{
	height: 200px;
	object-fit: contain;
	margin: 10px;
	border-radius: 8px;
}

.content_Icon{
	width: 100px;
}

.navigation_button{
	position: fixed; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: #000000; 
  color: #FFFFFF; 
  cursor: pointer;
  border: none; 
  padding: 10px 20px;
	font-size: 40px;
}

.button_prev{
	left: 200px;
}

.button_next{
	right: 200px;
}

.fadeIn{
	animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@media (max-width : 1300px){
	.navigation_button{
		font-size: 30px;
	}

	.button_prev{
		left: 60px;
	}

	.button_next{
		right: 60px;
	}
}

@media (max-width : 900px){
	.content{
		font-size: 20px;
	}

	.content .introImage{
		height: 150px;
	}

	.navigation_button{
		font-size: 20px;
	}

	.button_prev{
		left: 20px;
	}

	.button_next{
		right: 20px;
	}
}

@media( max-width : 680px){
	.content{
		font-size: 15px;
		margin-top: 10px;
	}

	.content .introImage{
		height: 100px;
	}

	.navigation_button{
		font-size: 15px;
	}

	.button_prev{
		left: 25px;
	}

	.button_next{
		right: 5px;
	}

	.big_title{
		font-size: 5em;
	}

	.sub_title{
		font-size: 4em;
	}
}