body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 웹킷 기반 브라우저 외에도, Firefox 등 다른 브라우저를 위한 CSS 스크롤바 속성도 있습니다 */
* {
  scrollbar-width: thin;
  scrollbar-color: #323339 #000000;
}


